
/*#pickdrunk2, #pickbard2, #pickdruid2, #prompt, #secondchoice, #whatdrink, #sirdrunk {
  display: none;
}*/

.container {
  display: none;
}

/*.container2 {
  display: none;
}*/

  /*#background{
  background-image: url("../img/page1.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity:0.7;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}*/

p {
  margin-left: 8%;
  margin-right: 51%;
  margin-top: 15%;}

  button {
    margin-left: 8%;
    margin-right: 51%;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #pickdrunk2{
    margin-right: 8%;
    margin-left: 55%;
    margin-top: -5%;
  }


#seconChoice, #thirdChoice, #fourthChoice, #fifthChoice, #sixthChoice, #seventhChoice, #eigthChoice, #ninethChoice {
  display: none;
}

#hide2, #escape3, #trickGuard2, #attackGuard2, #findParents2 {
  display: none;
}


#firstEnd, #secondEnd, #thirdEnd, #fourthEnd, #fifthEnd, #sixthEnd {
  display: none;
}

#cover{
  background-image: url("../img/cover.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity:0.8;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 5%;

}

h1{
  color:#D4AF37;
  font-size: 70px;
  font-family: 'Germania One', cursive;
  margin-top: 15%;
  margin-left: 13%;

}

h3{
  color:#ffbb33;
  font-size: 45px;
  font-family: 'Germania One', cursive;
  margin-top: 1%;
  margin-left: 18%;
}

/* Start of Code for metallic effect title page*/
.shiny
{
  color: #F5C21B;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5C21B), to(#D17000));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: 'Germania One', cursive;
  font-size: 65px;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
  margin-top: 15%;
  margin-left: 11%;
}

.shiny::before
{
	background-position: -180px;
	-webkit-animation: flare 5s infinite;
  -webkit-animation-timing-function: linear;
  background-image: linear-gradient(65deg, transparent 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 27%, transparent 27%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "Shiny";
  color: #FFF;
  display: block;
  padding-right: 140px;
  position: absolute;
}

.shiny::after
{
  content: "Shiny";
  color: #FFF;
  display: block;
  position: absolute;
  text-shadow: 0 1px #6E4414, 0 2px #6E4414, 0 3px #6E4414, 0 4px #6E4414, 0 5px #6E4414, 0 6px #6E4414, 0 7px #6E4414, 0 8px #6E4414, 0 9px #6E4414, 0 10px #6E4414;
  top: 0;
  z-index: -1;
}

.inner-shiny::after, .inner-shiny::before
{
		-webkit-animation: sparkle 5s infinite;
  -webkit-animation-timing-function: linear;
	background: #FFF;
  border-radius: 100%;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF, 0 0 25px #FFF, 0 0 30px #FFF, 0 0 35px #FFF;
  content: "";
  display: block;
  height: 10px;
  opacity: 0.7;
  position: absolute;
  width: 10px;
}

.inner-shiny::before
{
	-webkit-animation-delay: 0.2s;
  height: 7px;
  left: 0.12em;
  top: 0.8em;
  width: 7px;
}

.inner-shiny::after
{
  top: 0.32em;
  right: -5px;
}

@-webkit-keyframes flare
{
  0%   { background-position: -180px; }
  30%  { background-position: 500px; }
  100% { background-position: 500px; }
}

@-webkit-keyframes sparkle
{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  40%  { opacity: 0.8; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}
